html, body {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #6B2AEE;
    --secondary: #02e7d9;
    --light-grey: #e5e5e5;
    --dark-grey: #707070;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
header {
    padding: 15px 0;
    box-shadow: 1px 0 15px rgba(98, 98, 98, 0.294);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-contained {
    background-color: var(--primary);
    padding: 10px 35px;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
}

.btn-void {
    background-color: #FAFAFA;
    padding: 10px 35px;
    color: var(--primary);
    text-decoration: none;
    border-radius: 25px;
}


/* Principal */
.principal {
    background: url('../img/bg-image-principal.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70%;
}

.principal-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.principal-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 370px;
}

.principal-description p {
    font-size: 20px;
    color: var(--dark-grey);
}

.principal-diarista-text {
    border: solid 2px var(--light-grey);
    padding: 15px 35px;
    border-radius: 70px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-grey);
}