html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #6b2aee;
  --secondary: #02e7d9;
  --light-grey: #e5e5e5;
  --dark-grey: #707070;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
header {
  padding: 15px 0;
  box-shadow: 1px 0 15px rgba(98, 98, 98, 0.294);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn-contained {
  background-color: var(--primary);
  padding: 10px 35px;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
}

.btn-void {
  background-color: #fafafa;
  padding: 10px 35px;
  color: var(--primary);
  text-decoration: none;
  border-radius: 25px;
}

/* Main content */
.seguro-field {
  background-color: #fafafa;
  position: sticky;
  top: 0;
}

.seguro {
  color: var(--dark-grey);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
}

.seguro p {
  margin: 0;
}

.page-title {
  color: var(--primary);
  text-align: center;
}

.principal-content {
  display: grid;
  place-items: center;
  margin-top: 50px;
  padding-bottom: 70px;
}

.form-field {
  width: 500px;
}

.principal-content form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.principal-content form input {
  border: solid 2px #f0f0f0;
  background-color: #fafafa;
  padding: 15px;
}

.principal-content form input:focus {
  outline: none;
}

.principal-content form input::placeholder {
  color: #c4c4c4;
}

.password-recover {
  color: #9b9b9b;
} 





/* Footer */
footer {
  background-color: var(--primary);
  padding: 50px 0;
  /* position: fixed;
  bottom: 0;
  width: 100%; */
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 50px;
}

.footer-item {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}

.footer-item ul {
  list-style: none;
  padding: 0;
}

.footer-item ul a {
  color: #fff;
  margin: 5px 0;
  display: inline-block;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-media i {
  color: var(--light-grey);
  font-size: 30px;
}

.social-media a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  background-color: #581ECD;
  display: grid;
  place-items: center;
}

.social-media a:hover {
  transform: scale(1.07);
  transition: .4s;
}

/* Breakpoints */
@media(max-width: 1200px) {}

@media(max-width: 992px) {
  .principal {
    background-size: 100% 100%;
    background-position: bottom;
    padding: 50px 0;
  }

  .principal-image {
    display: none;
  }

  .principal-section {
    justify-content: center;
  }

  .principal-description {
    text-align: center;
  }

  .porq {
    margin-top: 0;
  }

  .footer-content {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 0;
  }
}

@media(max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .principal-section, .principal-description {
    width: 100%;
    display: block;
  }

  .principal-description {
    gap: 0;
    max-width: 100%;
  }

  .principal-diarista-text, .principal-description p {
    border: none;
    padding: 0;
    font-weight: normal;
    font-size: 1.2rem;
    margin: 0;
  }

  .principal-diarista-text::after{
    display: none;
  }

  .principal-diarista-text span {
    color: var(--dark-grey);
  }

  .principal-description a {
    display: block;
    width: 80%;
    padding: 15px;
    margin: 30px auto 10px auto;
  }
}


@media(max-width: 600px) {
  .porq-campos-item {
    gap: 15px;
  }

  .porq-campos-item hr {
    width: 100%;
    display: block;
  }

  .footer-content {
    grid-template-columns: 1fr;
  }

  .porq-item i {
    font-size: 24px;
  }

  .btn-header {
    flex-wrap: wrap;
    justify-content: center;
  }
}
